<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zigbo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ZigboController</display-name>
    <servlet-name>ZigboController</servlet-name>
    <servlet-class>zigbo.controller.ZigboController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZigboController</servlet-name>
    <url-pattern>/zigbo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberController</display-name>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>zigbo.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellingController</display-name>
    <servlet-name>SellingController</servlet-name>
    <servlet-class>zigbo.controller.SellingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellingController</servlet-name>
    <url-pattern>/selling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestController</display-name>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>zigbo.controller.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemController</display-name>
    <servlet-name>ItemController</servlet-name>
    <servlet-class>zigbo.controller.ItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemController</servlet-name>
    <url-pattern>/item</url-pattern>
  </servlet-mapping>
</web-app>